<!DOCTYPE html>
<html lang="ko-kr">

<head>

	<meta charset="UTF-8">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125406825-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-125406825-1');
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<meta name="robots" content="index,follow">



	<title>키자드 - keyzard.org</title>
	<meta name="description" content="블로그 운영에 유용한 키워드 정보(검색량, 분석)를 제공합니다. Google 검색 지원 및 SEO 최적화에 필요한 백링크 등록도 지원합니다.">
	<meta name="keywords" content="키워드,검색량,블로그,google">

	<!-- BEGIN OPENGRAPH -->
	<link rel="canonical" href="https://keyzard.org/" />

	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="키자드 ">
	<meta property="og:title" content="키자드 - keyzard.org">
	<meta property="og:description"
		content="블로그 운영에 유용한 키워드 정보(검색량, 분석)를 제공합니다. Google 검색 지원 및 SEO 최적화에 필요한 백링크 등록도 지원합니다.">
	<meta property="og:image" content="https://keyzard.org/resources/image/logo.PNG">
	<meta property="og:url" content="https://keyzard.org/">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="키자드 - keyzard.org">
	<meta name="twitter:description"
		content="블로그 운영에 유용한 키워드 정보(검색량, 분석)를 제공합니다. Google 검색 지원 및 SEO 최적화에 필요한 백링크 등록도 지원합니다.">
	<meta name="twitter:image" content="https://keyzard.org/resources/image/logo.PNG">

	<!-- 모바일 앱링크 -->
	<meta property="al:web:url" content="https://keyzard.org">

	<!-- 검색 등록 -->
	<meta name="google-site-verification" content="IFXlLZ5uk84X0N-oXse7LpxDL5ezkvx7QPbp2Chrsyc" />
	<meta name="msvalidate.01" content="B18028D3196C378B3D2DF6E8BDFDF72D" />
	<meta name="baidu-site-verification" content="P1FnUKmucI" />

	<!-- core JS -->
	<script src="/resources/js/jquery.min.js"></script>
	<script src="/resources/js/jquery.form.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/vue.min.js"></script>
	<script src="/resources/js/w3.js"></script>
	<script src="/resources/js/excelexportjs.js"></script>

	<!-- 나눔폰트 -->
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">

	<!-- CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="/resources/css/common.css?cache=2">



	<!-- 파비콘 -->
	<link rel="shortcut icon" href="/resources/image/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/resources/image/favicon.ico" type="image/x-icon">



	<!-- 
<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "Organization",
 "name": "키자드 - https://keyzard.org",
 "url": "https://keyzard.org",
 "sameAs": [
   "https://twitter.com/keyzard_org",
   "https://www.facebook.com/keyzard.org"
 ]
}
</script> -->
</head>

<body>
	<img src="/resources/image/logo.PNG" class="" alt="키자드 로고" style="display: none;">
	<div id="loading">

	</div>



	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><b><span id="keyzardTitle"><i class='fas fa-magic'></i> 키자드 -
							keyzard.org</span></b></a>
			</div>
			<div class="collapse navbar-collapse" id="navBar">
				<ul class="nav navbar-nav navbar-right">


					<li class="act-login"><a href="/login"><i class="fas fa-sign-in-alt"
								style="color:#f1ada9"></i>&nbsp;로그인</a></li>



					<li class="dropdown act-kz">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fas fa-magic" style="color:#adbaff"></i>&nbsp;키자드<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/keyzard"><i class="fas fa-magic"></i>&nbsp;키워드 마법사</a></li>
							<li><a href="/keyzard/analysis"><i class="fas fa-code-branch"></i>&nbsp;키워드 분석기</a></li>

							<li><a href="/realtimekeyword"><i class="far fa-compass"></i>&nbsp;실시간 검색어</a></li>
						</ul>

					</li>

					<li class="dropdown act-nb">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img src="/resources/image/ico/naver.ico" class="img-ico" alt="네이버 아이콘">&nbsp;네이버 블로그<span
								class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/nb"><i class="fas fa-database"></i>&nbsp;구글 검색 등록</a></li>
							<li><a href="/nb/views"><i class="fas fa-search"></i>&nbsp;블로그 등록 조회</a></li>
							<li><a href="/rm"><i class="fas fa-trash-alt"></i>&nbsp;블로그 링크 제거</a></li>
						</ul>
					</li>

					<li class="dropdown act-tt">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img src="/resources/image/ico/tt.ico" class="img-ico" alt="티스토리 아이콘">&nbsp;티스토리<span
								class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/tt"><i class="fas fa-link"></i>&nbsp;백링크 등록</a></li>
						</ul>
					</li>
					<li class="dropdown act-comm">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img src="/resources/image/ico/community.png" class="img-ico" alt="커뮤니티 아이콘">&nbsp;커뮤니티<span
								class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/notice"><i class="fas fa-bullhorn"></i>&nbsp;공지사항</a></li>
							<li><a href="/info"><i class="fas fa-info-circle"></i>&nbsp;정보게시판</a></li>
							<li><a href="/board"><i class="fas fa-comments"></i>&nbsp;자유게시판</a></li>
							<li><a href="/event/attendance"><i class='far fa-calendar-check'></i>&nbsp;&nbsp;출석확인</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-top: 100px">

		<div class="row mgb10">

		</div>
		<div class="row mgb10">
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><a href="/notice" style="color:black!important"><i
								class="fas fa-bullhorn"></i> 공지사항</a></h3>
				</div>
				<table class="table table-striped table-hover">


					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/609" title="[공지]고급/특급키워드 얻기 업데이트">
								<span class="listTitle">


									<i class="fas fa-bullhorn" style="color:red"></i>



									[공지]고급/특급키워드 얻기 업데이트

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-11-09</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/600" title="[안내] 키자드 서버 오류로 인한 보상">
								<span class="listTitle">


									<i class="fas fa-bullhorn" style="color:red"></i>



									[안내] 키자드 서버 오류로 인한 보상

									<sub class="replyCnt">1</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-10-11</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/564" title="[안내]서버 증축 작업으로 인한 서비스 중단">
								<span class="listTitle">



									<i class="fas fa-bullhorn"></i>


									[안내]서버 증축 작업으로 인한 서비스 중단

									<sub class="replyCnt">7</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-08-06</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/556" title="[안내] 키자드 접속 장애 보상">
								<span class="listTitle">



									<i class="fas fa-bullhorn"></i>


									[안내] 키자드 접속 장애 보상

									<sub class="replyCnt">7</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-07-21</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/517" title="[이벤트] 후원혜택 2배 및 포인트 받아가세요. ">
								<span class="listTitle">



									<i class="fas fa-bullhorn"></i>


									[이벤트] 후원혜택 2배 및 포인트 받아가세요.

									<sub class="replyCnt">6</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-05-18</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/notice/438" title="[공지]실시간 검색어 개편 안내">
								<span class="listTitle">



									<i class="fas fa-bullhorn"></i>


									[공지]실시간 검색어 개편 안내

									<sub class="replyCnt">5</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-02-23</td>
					</tr>

				</table>
			</div>
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><a href="/info" style="color:black!important"><i
								class="fas fa-info-circle"></i> 정보게시판</a></h3>
				</div>
				<table class="table table-striped table-hover">

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/info/7" title="키자드 후원 혜택">
								<span class="listTitle">


									<i class="fas fa-info-circle" style="color:red"></i>



									키자드 후원 혜택

									<sub class="replyCnt">19</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2019-10-22</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/info/6" title="키자드 후원 방법">
								<span class="listTitle">


									<i class="fas fa-info-circle" style="color:red"></i>



									키자드 후원 방법

									<sub class="replyCnt">13</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2019-10-22</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/info/5" title="포인트 획득 및 사용 안내">
								<span class="listTitle">



									<i class="fas fa-info-circle"></i>


									포인트 획득 및 사용 안내

									<sub class="replyCnt">76</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2019-10-22</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/info/4" title="키자드 사용시 오류가 발생할 때 해결법">
								<span class="listTitle">



									<i class="fas fa-info-circle"></i>


									키자드 사용시 오류가 발생할 때 해결법

									<sub class="replyCnt">6</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2019-10-22</td>
					</tr>

				</table>
			</div>
		</div>
		<div class="row mgb10">
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><a href="/board" style="color:black!important"><i class="fas fa-comments"></i>
							자유게시판</a></h3>
				</div>
				<table class="table table-striped table-hover">

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/634" title="실수로 탈퇴하고 재가입을 했는대요">
								<span class="listTitle">


									<i class="far fa-comment-dots" style="color:red"></i>



									실수로 탈퇴하고 재가입을 했는대요

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-09</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/633" title="네이버블로그 구글 검색 등록 ... 일치하는 검색결과가 없습니다">
								<span class="listTitle">


									<i class="far fa-comment-dots" style="color:red"></i>



									네이버블로그 구글 검색 등록 ... 일치하는 검색결과가 없습니다

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-08</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/632" title="예전 블로그에 있던 글을 가져오면 구글에서 안긁어가주나요?">
								<span class="listTitle">



									<i class="fas fa-comments"></i>


									예전 블로그에 있던 글을 가져오면 구글에서 안긁어가주나요?

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-08</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/631" title="포인트 사용하는 방법 이제 알았어요.">
								<span class="listTitle">



									<i class="fas fa-comments"></i>


									포인트 사용하는 방법 이제 알았어요.

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/630" title="후원확인부탁드려요">
								<span class="listTitle">



									<i class="fas fa-comments"></i>


									후원확인부탁드려요

									<sub class="replyCnt">1</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">


							<a class="boardTitleA" href="/board/629" title="후원 했는데 자동으로 구글 등록 맞나요?">
								<span class="listTitle">



									<i class="fas fa-comments"></i>


									후원 했는데 자동으로 구글 등록 맞나요?

									<sub class="replyCnt">1</sub>

								</span>
							</a>




						</td>
						<td class="align-middle text-center">2021-12-06</td>
					</tr>

				</table>
			</div>
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><i class="fas fa-thumbs-up"></i> 이 주의 인기글</h3>
				</div>
				<table class="table table-striped table-hover">

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/628" title="검색 등록한지 수개월(2달 이상) 됐는데도 아직까지 노출이 안됩니다">
								<span class="listTitle"><i class="fas fa-comments"></i> 검색 등록한지 수개월(2달 이상) 됐는데도 아직까지 노출이
									안됩니다

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-05</td>
					</tr>

				</table>
			</div>
		</div>
		<div class="row mgb10">
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><i class="fas fa-history"></i> 최근 글</h3>
				</div>
				<table class="table table-striped table-hover">

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/634" title="실수로 탈퇴하고 재가입을 했는대요">
								<span class="listTitle"><i class="fas fa-comments"></i> 실수로 탈퇴하고 재가입을 했는대요

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-09</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/633" title="네이버블로그 구글 검색 등록 ... 일치하는 검색결과가 없습니다">
								<span class="listTitle"><i class="fas fa-comments"></i> 네이버블로그 구글 검색 등록 ... 일치하는 검색결과가
									없습니다

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-08</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/632" title="예전 블로그에 있던 글을 가져오면 구글에서 안긁어가주나요?">
								<span class="listTitle"><i class="fas fa-comments"></i> 예전 블로그에 있던 글을 가져오면 구글에서 안긁어가주나요?

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-08</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/631" title="포인트 사용하는 방법 이제 알았어요.">
								<span class="listTitle"><i class="fas fa-comments"></i> 포인트 사용하는 방법 이제 알았어요.

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/630" title="후원확인부탁드려요">
								<span class="listTitle"><i class="fas fa-comments"></i> 후원확인부탁드려요

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/629" title="후원 했는데 자동으로 구글 등록 맞나요?">
								<span class="listTitle"><i class="fas fa-comments"></i> 후원 했는데 자동으로 구글 등록 맞나요?

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-06</td>
					</tr>

				</table>
			</div>
			<div class="col-md-6 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><i class="fas fa-quote-left"></i> 최근 댓글</h3>
				</div>
				<table class="table table-striped table-hover">

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/628"
								title="안녕하세요? 달의영혼 님,네이버와 구글은 글쓰는 방법부터 조금은 다르게 접근하는 것이 좋습니다.구글은 네이버보다 더 많이 웹표준을 준수하며 SEO 규칙에 맞는 글들을 좋아합니다. 구글 SEO 글쓰기 방법 등을 검색해보셔서, 글쓰는 방법을 한 번 더 점검하는 방법을 추천드립니다.감사합니다.감사합니다.">
								<span class="listTitle"><i class="fas fa-comments"></i> 안녕하세요? 달의영혼 님,네이버와 구글은 글쓰는 방법부터
									조금은 다르게 접근하는 것이 좋습니다.구글은 네이버보다 더 많이 웹표준을 준수하며 SEO 규칙에 맞는 글들을 좋아합니다. 구글 SEO 글쓰기 방법 등을
									검색해보셔서, 글쓰는 방법을 한 번 더 점검하는 방법을 추천드립니다.감사합니다.감사합니다.

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/630"
								title="안녕하세요? 달의영혼 님,후원이력이 확인되어 자동으로 후원혜택 적용 중입니다.후원혜택 적용여부는 마이페이지에서 확인하실 수 있습니다. 감사합니다.">
								<span class="listTitle"><i class="fas fa-comments"></i> 안녕하세요? 달의영혼 님,후원이력이 확인되어 자동으로
									후원혜택 적용 중입니다.후원혜택 적용여부는 마이페이지에서 확인하실 수 있습니다. 감사합니다.

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/629"
								title="안녕하세요? 안양타이거 님,투네이션에서 후원시에 후원자명을 키자드ID로 기재해주시지 않으셔서 후원혜택 자동으로 적용이 되지 않은 것으로 보입니다. 수동으로 확인하여 후원혜택 적용하였으니 확인해주시기 바랍니다. 후원혜택 적용여부는 마이페이지에서 확인하실 수 있습니다. 감사합니다.">
								<span class="listTitle"><i class="fas fa-comments"></i> 안녕하세요? 안양타이거 님,투네이션에서 후원시에 후원자명을
									키자드ID로 기재해주시지 않으셔서 후원혜택 자동으로 적용이 되지 않은 것으로 보입니다. 수동으로 확인하여 후원혜택 적용하였으니 확인해주시기 바랍니다.
									후원혜택 적용여부는 마이페이지에서 확인하실 수 있습니다. 감사합니다.

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/628"
								title="나름 블로그 강사입니다 컨텐츠가 부족하다는 생각 해본적 없구요 현재도 네이버에서 상위 노출 잘 되고 있는 상황이고 저품질에서 탈출한지 2주만에 준최적화 만든 블로그입니다..구글에서만 노출이 안되고 있고 네이버는 검색 누락 단 한건도 없었습니다 ">
								<span class="listTitle"><i class="fas fa-comments"></i> 나름 블로그 강사입니다 컨텐츠가 부족하다는 생각 해본적
									없구요 현재도 네이버에서 상위 노출 잘 되고 있는 상황이고 저품질에서 탈출한지 2주만에 준최적화 만든 블로그입니다..구글에서만 노출이 안되고 있고
									네이버는 검색 누락 단 한건도 없었습니다

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-07</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/628"
								title="안녕하세요? 달의영혼 님,구글 검색은, 구글 검색봇이 글을 수집한 이후에 검색 알고리즘에 의해서 노출 여부가 정해집니다. 콘텐츠가 부실한 글, 중복되는 글, 적절하지 못한 글들은 구글에서 검색에 노출 되지 않을 가능성이 많습니다.제가 달의영혼 님의 블로그 글들을 훑어봤는데, 대부분 콘텐츠 내용이 부족하며, 이미 구글에 있는 수많은 웹문서들과 중복되는 내용의 글들이 상당히 많은 것으로 보입니다. 이로인해 구글뿐 아니라, 네이버에서도 노출을 잘 안 해주는 것 같습니다.구글에서는 달의영혼 님의 블로그를 신뢰도가 낮은 사이트로 보고, 검색에 잘 노출 시켜주지 않는 것으로 보입니다. 구글에 대한 신뢰도를 높이시려면 독창적이고, 풍부한 정보를 전달하는 글들을 자주 올리시면 신뢰도가 올라가니 참고 바랍니다.감사합니다.">
								<span class="listTitle"><i class="fas fa-comments"></i> 안녕하세요? 달의영혼 님,구글 검색은, 구글 검색봇이 글을
									수집한 이후에 검색 알고리즘에 의해서 노출 여부가 정해집니다. 콘텐츠가 부실한 글, 중복되는 글, 적절하지 못한 글들은 구글에서 검색에 노출 되지 않을
									가능성이 많습니다.제가 달의영혼 님의 블로그 글들을 훑어봤는데, 대부분 콘텐츠 내용이 부족하며, 이미 구글에 있는 수많은 웹문서들과 중복되는 내용의
									글들이 상당히 많은 것으로 보입니다. 이로인해 구글뿐 아니라, 네이버에서도 노출을 잘 안 해주는 것 같습니다.구글에서는 달의영혼 님의 블로그를 신뢰도가
									낮은 사이트로 보고, 검색에 잘 노출 시켜주지 않는 것으로 보입니다. 구글에 대한 신뢰도를 높이시려면 독창적이고, 풍부한 정보를 전달하는 글들을 자주
									올리시면 신뢰도가 올라가니 참고 바랍니다.감사합니다.

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-05</td>
					</tr>

					<tr class="boardTr">
						<td class="boardTitle align-middle">






							<a class="boardTitleA" href="/board/585" title="반년됐는데 아직도 노출안되네요">
								<span class="listTitle"><i class="fas fa-comments"></i> 반년됐는데 아직도 노출안되네요

								</span>
							</a>






						</td>
						<td class="align-middle text-center">2021-12-05</td>
					</tr>

				</table>
			</div>
		</div>
		<div class="row mgb10">
			<div class="col-md-12 mgb10">
				<div class="mainBbd">
					<h3 class="mainTitle"><a href="https://goo.gl/vkdk8C" target="_blank"
							style="color:black!important"><i class="fas fa-donate"></i> 최근 후원자</a></h3>
				</div>
				<table class="table table-striped table-hover">
					<colgroup>
						<col style="width:150px;">
						<col style="width:100px;">
					</colgroup>
					<tr>
						<th class="text-center">후원자</th>
						<th class="text-center">후원금</th>
						<th class="text-center hidden-xs">후원내용</th>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 박병창</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs"></td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> IP119 정보통신</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs">블러그 순위가 많이 떨어졌네요 ㅠㅠ 어떤거때문인지 모르지만 키자드를 알게되어 열심히 하게되었습니다. 순위가
							올라갔으면좋겠네요 감사합니다.</td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> IP119 정보통신</td>
						<td class="text-center" style="vertical-align: middle">2,000원</td>
						<td class="text-center hidden-xs"></td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 싸카맨</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs"></td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 달의영혼</td>
						<td class="text-center" style="vertical-align: middle">5,000원</td>
						<td class="text-center hidden-xs">meeting01 5000원 후원합니다</td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 3번째아이디</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs">후원합니다</td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> flac0717 (키자드-클라우드)</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs">키자드 후원합니다.</td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 달의영혼</td>
						<td class="text-center" style="vertical-align: middle">1,000원</td>
						<td class="text-center hidden-xs">meeting01 후원합니다</td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> 야클</td>
						<td class="text-center" style="vertical-align: middle">10,000원</td>
						<td class="text-center hidden-xs"></td>
					</tr>

					<tr class="boardTr">
						<td class="text-center" style="vertical-align: middle"><i class="fas fa-crown"
								style="color:gold"></i> lovedde</td>
						<td class="text-center" style="vertical-align: middle">5,000원</td>
						<td class="text-center hidden-xs">후원합니다</td>
					</tr>

				</table>
			</div>
		</div>
	</div>


	<style>
		.sponsor {
			color: #333;
			text-decoration: none;
			cursor: text;
		}

		.sponsor:HOVER {
			color: #333;
			text-decoration: none;
			cursor: text;
		}
	</style>
	<footer class="row mgb20">
		<h4 class="text-center"><b>keyzard.org</b> Copyright 2018-2021 <a href="https://hanazuou.tistory.com"
				style="color:black; text-decoration:underline;" target="_blank">KEYZARD</a></h4>
		<h5 class="text-center">키자드에 등록된 콘텐츠의 권한은 <a href="/register">등록자</a>에게 있습니다. 문의: <a
				href="mailto:keyzard@keyzard.net" target="_top">keyzard@keyzard.net</a></h5>
		<h5 class="text-center"><a href="/notice/100">회원약관</a> <a class="sponsor" href="https://k-bloginfo.com">|</a> <a
				href="/notice/101">개인정보처리방침</a> <a class="sponsor" href="https://realtimekeyword.org">|</a> <a
				href="https://twitter.com/keyzard_org" target="_blank">트위터</a> | <a
				href="https://www.facebook.com/keyzard.org" target="_blank">페이스북</a></h5>
	</footer>
	<script src="/resources/js/min/common.js"></script>


	<script type="text/javascript">


		$(".sponsorPage").click(function () {
			var gNick = "";
			if (gNick != "") {
				alert("각 스폰서에 방문시 1일 1회 포인트를 획득 할 수 있습니다.");
			}
		});
		$(".sponsor").click(function (e) {
			return false;
		})
	</script>
	</div>

</body>
<script>
	var gLogin = "";
	var gNickname = "";
</script>
<script src="/resources/js/min/main.js"></script>

</html>